<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% load static %}
    <link media="screen" rel="stylesheet" href="{% static 'css\style.css' %}" alt="NO">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Rugutt Libary Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="search.html">Search</a></li>
                <li><a href="books.html">Book Data</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </nav>

    <div id = 'csv-table-container'></div>




    <script>
        function arrayToTable(tableData) {
            var table = $('<table></table>');
            $(tableData).each(function (i, rowData) {
                var row = $('<tr></tr>');
                $(rowData).each(function (j, cellData) {
                    row.append($('<td>' + cellData + '</td>'));
                });
                table.append(row);
            });
            return table;
        }

        $.ajax({
            type: "GET",
            url: "bookManager\\static\\data\\bookDataOriginal.csv",
            success: function (data) {
                $('csv-table-container').append(arrayToTable(Papa.parse(data).data));
            }
        });
    </script>


</body>

</html>