<!DOCTYPE html>
<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  {% load static %}
  <link media="screen" rel="stylesheet" href="{% static 'css\style.css' %}" alt="NO">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Rugutt Libary Manager</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class = "active" ><a href="search.html">Search</a></li>
            <li><a href="books.html">Book Data</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
          
        </div>
      </nav>


  <!-- The form -->
  <form class="search" action = 'submit' id = "search_box" method = 'POST'>
    {% csrf_token %}
    <input type="text" placeholder="Search.." name="info">
    <button type="submit"><i class="fa fa-search"></i></button>
    
   
  </form>

  <br>

  <table id="myTable">
    <tr class="header">
      <th style="width:60%; text-align: center;">Title</th>
      <th style="width:40%; text-align: center;">Accession No</th>
    </tr>
    {% for key,val in allbooks.items %}
    <tr> 
      {% for key1,val1 in val.items %}
        {% if key1 == "AccessionNo" %}
        <td style = "width:60%; text-align: center">{{val1}}
          <form action = 'viewBook' method = 'POST'>
            {% csrf_token %}
            <button type = 'submit' name='data' target = '_blank' value = "{{val}}" style="margin-left: 20px;" class="btn btn-info">View Book</button>
          </form>
          </td>
        {% else %}
        <td value = '{{val1}}' style = "width:60%; text-align: center">{{val1}}</td>
        {% endif %}
      {% endfor %}
      </tr>
    {% endfor %}
  </table>

</body>

</html>


